.nav{
  background-color: rgba(0, 0, 0, 0.596); /* Transparent background color */
  backdrop-filter: blur(10px); /* Applies the glassy blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: space-between;
       margin-top: -80px;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2000;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  }
  
  
  
  
  .menu{
    display: none;
   
  }
  
  .project .ctabutton{
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: goldenrod;
    padding: 10px 20px;
    */
    font-size: 1.2vw;
    border-radius: 5px;
    font-weight: 700; 
   padding: 10px 15px;
    
  }
  
  
  .ctabutton {
    display: block;
    margin: 0px auto;
    padding: 15px 30px;
    background-color: #d6b84e;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700; 
   
  }
  
  .p{display: none;}

  .ctabutton:hover {
    background-color: #b89738;
   
  }
  
  
  
  .name{
    margin-left: 25px;
    font-weight: 700;
    font-size: 2.2rem;
    word-spacing: 0px;
  
  }
  
  .logo{
    font-weight: 700;
    font-size: 2.2rem;
  
  }
  
  .links{
    min-width: 662px;
    font-size: 1.15vw;
    text-align: center;
  }
  
  
  
  
  .nav a{
    position: relative;
    color: inherit;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
  
  .nav  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    border-radius: 2px;
    background-color: goldenrod;;
    transition: width 0.3s ease;
  }
  
  .nav  a:hover::after {
    width: 100%;
  }



  @media (max-width: 1000px) {

    .links{
        display: none;
    }
   
   
   .project{
    display: none
   }}